@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';

    --color-brand-50: #f5f7ff;
    --color-brand-100: #ebf0fe;
    --color-brand-200: #dae3fd;
    --color-brand-300: #beccfc;
    --color-brand-400: #98aaf9;
    --color-brand-500: #6d81f3;
    --color-brand-600: #5462e9;
    --color-brand-700: #464fd6;
    --color-brand-800: #3c42ae;
    --color-brand-900: #353b8b;
    --color-brand-950: #222551;
}

@layer base {
    input:focus {
        @apply ring-2 ring-brand-500 border-brand-500 outline-hidden;
    }
}
